@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Born2bSportyFS';
    src: url('assets/img/born2bsporty-fs/Born2bSportyFS.otf');
}

body {
    @apply text-white tracking-wider;
}

section {
    @apply py-20 md:py-28 z-30;
}

h1 {
    @apply font-Born font-medium tracking-wide text-[30px];
}

p {
    @apply font-Poppins font-light;
}

.nav-link {
    @apply text-2xl font-extralight duration-300 md:text-xl;
}

/* .nav-link:hover {
    @apply text-slate-600;
} */

/* Button */
.apply-button {
    clip-path: polygon(0 0, 100% 0, 97% 90%, 0% 97%);
}
